body {
    font-family: "Segoe UI", "Fira Sans", Arial, Verdana, Helvetica, sans-serif;
    background: url(../imagens/fundo.png) center right no-repeat;
    background-color: white;
}

@media (max-width: 600px) {
    body {
        background-position: center center;
    }
    #menu a {
        display: block;
        margin-bottom: 4px;
    }
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    margin: auto;
    width: 88%;
    border-left: solid 1px green;
    border-right: solid 1px green;
    background-color: white;
    -webkit-filter: opacity(85%);
    padding: 10px;
    font-weight: normal;
}

.header p {
    font-size: 28pt;
    line-height: 100px;
    color: white;
    -webkit-filter:
        drop-shadow(6px 6px 6px black);
}

.header {
    height: 150px;
    padding-top: 25px;
    border-top: solid 1px green;
    background: url(../imagens/logo.png) 150px center no-repeat;
    background-color: green;
    min-height: 200px;
}

#menu a.selected {
    text-decoration: underline;
}

#menu a:hover {
    background-color: #003E00;
    color: white;
}

#menu {
    background-color: green;
}

#menu a {
    text-decoration: none;
    font-size: 120%;
    padding: 6px 14px;
    margin: 4px;
    color: white;
    border-radius: 4px;
    background-color: #74B61E;
}

.body {
    background-color: white;
    color: green;
    padding: 10px;
    /*border: solid 1px black;*/
    min-height: 250px;
}

.body p.title {
    font-size: 115%;
    font-weight: bold;
    text-indent: 0;
}

.body p {
    text-indent: 20px;
    text-align: justify;
}

.body a {
    color: green;
}

#news {
    width: 50%;
}

.centro {
    text-align: center;
}

.leaf {
    -webkit-filter:
        drop-shadow(5px 5px 1px #406B0F)
        opacity(70%);
}

.footer {
    font-size: 80%;
    text-align: right;
    border-bottom: solid 1px green;
    /*border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;*/
}

.footer a {
    color: green;
    text-decoration: none;
    font-style: italic;
}

